
form{
    max-width: 60%;
    margin: 2rem auto 0;
}
form input{
    border-bottom: 1px solid #609a1d;
    width: 100%;
    min-height: 50px;
    padding-inline: 1rem;
    font-size: 1.2rem;
    opacity: .5;
    background: #c1cf7f;
}
